h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.recette {
  width: 80%;
}

.recette * {
  display: inline-block;
}

.lienR {
  width: 80%;
  height: 60px;
  border-style: solid;
  border-radius: 10px;
  transition: 0.3s;
  text-align: center;
}

.lienR:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

.delFavPanier {
  margin-left: 10px;
  margin-top: 25px;
  transition: 0.3s;
}

.delFavPanier:hover {
  cursor: pointer;
  opacity: 0.5;
}

#recetteVide {
    width: 80%;
    height: 60px;
    border-style: solid;
    border-radius: 10px;
}
