h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

#contenu {
    border: solid black;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

#ingredients {
    text-align: center;
}

#ingredients * {
    margin-left: 5%;
    margin-right: 5%;
}

.label {
    margin-top: 10px;
    border: 2px;
    width: 35%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.divContenu {
    border: solid black 2px;
    width: 35%;
    height: 150px;
    overflow: auto;
    display: inline-block;
}

.ingr {
    text-align: center;
    margin-bottom: 5px;
}

#reinit {
    width: 16%;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recherche {
    text-align: center;
}

#search {
    width: 40%;
}

#results {
    display: none;
    position: absolute;
    width: 26%;
    max-height: 200px;
    left: 37%;
    overflow: auto;
    border: 1px solid #AAA;
    border-top-width: 0;
    background-color: #FFF;
}

#results div:hover {
    background-color: #D3D3D3;
    cursor: pointer;
}

#erreur {
    height: 20px;
    margin-top: 5px;
    color: red;
}

#actions {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#actions * {
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
}

#effectuerRecherche {
    width: 24%;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 1px;
}
