h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.infos {
  text-align: center;
  color: red;
}

.form-group {
  margin-left: 15%;
}

.form-button {
  margin-top: 20px;
  text-align: center;
}

#divUt {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 32%;
  text-align: right;
}

p {
  margin-left: 25%;
}
