.recette {
  width:80%;
  height: 80px;
  margin: 8px;
  border-style: solid;
  border-radius: 5px;
  transition: 0.3s;
}

.recette:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

#recetteVide {
  width:80%;
  height: 80px;
  margin: 8px;
  border-style: solid;
  border-radius: 5px;
}
